<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/search-movie" (click)="onSidenavClose()">
        <mat-icon>theaters</mat-icon> <span class="nav-caption">Search Movie</span>   
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">About Us</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Admin</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onSidenavClose()">View profile</button>
      <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
    </mat-menu>
  </mat-nav-list>

 