a{
    text-decoration: none;
    color: white;
}

a:hover{
    background: #673ab7;
    color:black
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

mat-list-option[aria-selected="true"] {
    background: #673ab7;
    color:whitesmoke
  }