
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--side-nav code start-->
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()" ></app-header>
     <!--main page content starts here-->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
