mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    /* padding-top: 10px; */
}

.not-empty-select.mat-selected {
    color: whitesmoke !important;
  }
  
  ::ng-deep .mat-select-value-text {
    color: whitesmoke !important;
  }

  ::ng-deep  .mat-select-value, .mat-select-arrow{
    color: whitesmoke !important;
}

::ng-deep  .mat-form-field-infix{
    border-bottom: 2px solid whitesmoke !important;
    width: 100%;
}

::ng-deep  .mat-focused .mat-form-field-underline .mat-form-field-ripple{
     background: whitesmoke; 
}
::ng-deep .mat-select-arrow {
   color:whitesmoke
}
::ng-deep .mat-label {
    color: whitesmoke;
    }


    ::ng-deep .mat-form-field .mat-focused 
              .mat-form-field-label {
                color: whitesmoke;
              
            
          
        
      }