<div class="container">
    <mat-progress-bar mode="indeterminate" *ngIf="isCompleted"></mat-progress-bar>
    <div class="form-container" >
        <h1 class="title" >Search Movie</h1>
        <form *ngIf='myForm' [formGroup]="myForm" novalidate fxLayout="column wrap" fxLayoutAlign="center center"
            fxLayoutGap="10px">
            <!-- <mat-card-content> -->
            <mat-form-field style=" color: whitesmoke;width: 18%;">
                <mat-label style="color: whitesmoke;">Search By</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of searchType" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="myError('type', 'required')">type is required</mat-error>
            </mat-form-field>

            <mat-form-field style="margin-left:5%;width:20%">
                <input type="text" matInput placeholder="Search" formControlName="name" style="color: whitesmoke;"
                    name="name">
                <mat-error *ngIf="myError('name', 'required')">search is required</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="searchMovie()" matTooltip="Search"
                style="margin-left: 1%;border-radius: 10px;">Search</button>
            <!-- </mat-card-content> -->
        </form>
    </div>
    <br />

    <div *ngIf="isDataPresent"
        class="movieDetail scrollbar scrollbar-primary scrollbar-black bordered-black square thin"
        style="width:92%;height:500px;overflow:auto;margin-left: 8.5%;">
        <h1 style="    font-size: 3rem;
        line-height: 3.125rem;color: whitesmoke;">{{movie.Title}}</h1>
        <br>
        <div>
            <div style="width:25%;float:left;color: whitesmoke;"><span>{{movie.Type}} </span><span style="color:whitesmoke;    font-size: 16px;
                letter-spacing: .00937em;text-decoration: inherit;font-weight: 500;font-size: 1rem;">.</span><span style="margin-left: 2%;">{{movie.Rated}}</span><span style="color:whitesmoke;    font-size: 16px;margin-left: 2%;
                letter-spacing: .00937em;text-decoration: inherit;font-weight: 500;font-size: 1rem;">.</span><span style="margin-left: 2%;">{{movie.Released}}</span><span style="color:whitesmoke;    font-size: 16px;margin-left: 2%;
                letter-spacing: .00937em;text-decoration: inherit;font-weight: 500;font-size: 1rem;">.</span>
                <span style="margin-left: 2%;">{{movie.Runtime}}</span>
            </div>
            <div style="width:10%;float:left;height:70px;color: whitesmoke;">
                <span>IMdb rating</span>
                <br>
                <mat-icon style="color: yellow;">grade</mat-icon><span>{{movie.imdbRating}}/10</span>
                <div style="width: 10px;
            margin-left: 4%;">{{movie.imdbVotes}}</div>
            </div>
            <div style="width:20%;float:left;height:70px;color: whitesmoke;">
                <span>MetaScore</span>
                <br>
                <mat-icon style="color: yellow;">grade</mat-icon><span>{{movie.Metascore}}</span>

            </div>
        </div>
        <br>
        <div style="width:100%;float:left"><img src="{{movie.Poster}}"></div>
        <!-- <div *ngFor="let dataitem of genre;let i=index" style="margin-top: 1%;">
            <button mat-raised-button  class="genre">{{dataitem}}</button>
        </div> -->
        <div style="margin-top: 1%;">
            <mat-form-field style="margin-left: 0px;" class="underline">
                <mat-chip-list #chipList class="genre">
                    <mat-chip *ngFor="let item of genre">
                        {{item}}

                    </mat-chip>

                </mat-chip-list>
            </mat-form-field>
        </div>
        <br>
        <div style="margin-top: 0%;color: whitesmoke;">
            <section>
                <p>{{movie.Plot}}</p>
            </section>
        </div>
        <div style="border-top: 0.5px solid rgba(255, 255, 255, .3);  color: whitesmoke;">
            <div style="    padding-top: 1%;
            padding-bottom: 1%;">
                <span style="letter-spacing: .00937em;
    text-decoration: inherit;
    font-weight: 500;
    font-size: 1rem;">Stars </span><br><span>{{movie.Actors}}</span>
            </div>
        </div>
        <div style="border-top: 1px solid rgba(255, 255, 255, .3);   color: whitesmoke;">
            <div style="    padding-top: 1%;
            padding-bottom: 1%;">
                <span style="letter-spacing: .00937em;
    text-decoration: inherit;
    font-weight: 500;
    font-size: 1rem;">Director </span><br><span>{{movie.Director}}</span>
            </div>
        </div>
        <div style="border-top: 1px solid rgba(255, 255, 255, .3);color: whitesmoke;">
            <div style="    padding-top: 1%;
            padding-bottom: 1%;">
                <span style="letter-spacing: .00937em;
    text-decoration: inherit;
    font-weight: 500;
    font-size: 1rem;">Writer </span><br><span>{{movie.Writer}}</span>
            </div>
        </div>
        <div style="border-top: 1px solid rgba(255, 255, 255, .3);  color: whitesmoke;">
            <div style="padding-top: 1%;
            padding-bottom: 1%;" *ngFor="let item of movie.Ratings;let i=index">
                <span style="letter-spacing: .00937em;
    text-decoration: inherit;
    font-weight: 500;
    font-size: 1rem;">{{item.Source}} : </span><span style="margin-left: 1%;">{{item.Value}}</span>
            </div>
        </div>
    </div>
</div>