.container{
    overflow:hidden;
    width:100%;
    background-color: darkslategrey;
    min-height: 91%;
    position: absolute;
}

.form-container{
    width:90%;
    height:90px;
    overflow:hidden;
    padding-top: 1%;
}

.title{
    margin-left: 8.5%; 
    font-size: 25px;   
    color: whitesmoke;
}

label {
    font-weight: bold;
}
.genre
{
    background: lightgrey;
    margin-left: 1%;
}
.genre:hover
{
   background-color:grey;
   background: grey;;
   color:white;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: whitesmoke;
}
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-form-field-label {
    color: whitesmoke;
}
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: whitesmoke;
}

::ng-deep  .mat-input-element {
    caret-color: whitesmoke;
}

::ng-deep .underline .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .underline .mat-form-field-infix {
    border-bottom: none!important;
  }

  .snackbar {
    background: #2196F3;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    max-width: 100% !important;
    width: 100%;
  }


 .scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    overflow-y: scroll;
    margin-bottom: 25px;
    }
    .force-overflow {
    min-height: 450px;
    }
    
 
    .scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #673ab7; }
     
     .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; }
     
    .scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
    } 
    
    
    
    
    
    
    