/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* for sidenav to take a whole page */
html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;min-height:100%; }


.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 10%;
}