.home-container{
    overflow:hidden;
    width:100%;
    background-color: darkslategrey;
    min-height: 91%;
    position: absolute;
}
.content{
    min-height: 100%;
    margin-left:10%;
    width:100%;
    overflow-y: hidden;
}
a {
	color:whitesmoke;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
a img {
	border:0;
}

.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.text-right {
	text-align:right;
}
h2 {
	font-size:20px;
	color:whitesmoke;
	font-weight:bold;
}
h3 {
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
h4 {
	font-size:14px;
	color:whitesmoke;
	font-weight:bold;
}



.box {
	width:980px;
	border-bottom:1px dashed whitesmoke;
	padding-bottom:21px;
}
.box .head {
	width:980px;
	padding-top:14px;
	padding-bottom:11px;
}
.box .head h2 {
	float:left;
	display:inline;
}
.box .movie {
	width:152px;
	float:left;
	padding-right:12px;
}
.movie-image {
	float:left;
	width:152px;
	height:214px;
	position:relative;
}
.movie-image img {
	width:152px;
	height:214px;
}
.movie-image a {
	float:left;
	display:inline;
	width:152px;
	height:214px;
	position:relative;
	z-index:2;
}
.play {
	position:absolute;
	top:0;
	left:0;
	width:152px;
	height:214px;
	background:url('../../assets/images/image-hover.png');
	display:block;
	z-index:5;
	cursor:pointer;
	display:none;
}
.movie span.name {
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:160px;
	display:block;
}
.box .last {
	padding:0;
}
.rating {
	float:left;
	width:152px;
	padding-top:8px;
}
.rating p {
	float:left;
	font-size:10px;
	color:#fff;
	font-weight:bold;
}
.rating .stars {
	float:left;
	width:60px;
	height:11px;
	background:url('../../assets/images/stars.gif') no-repeat 0 0;
	margin-left:2px;
}
.rating .stars-in {
	width:48px;
	display:inline;
	background:url('../../assets/images/stars.gif') no-repeat 0 bottom;
	position:absolute;
	height:11px;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.comments {
	background:url('../../assets/images/comments.gif') no-repeat 0 center;
	padding-left:12px;
	float:right;
}


.scrollbar {
   
    }
    .force-overflow {
    min-height: 450px;
    }
    
 
    .scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #673ab7; }
     
     .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; }
     
    .scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
    } 